services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: go-payment-aggregator
    restart: unless-stopped
    ports:
      - "8080:8080" # Adjust if your app uses a different port in config.json
    volumes:
      - ./config.docker.json:/app/config.json # Mounts the docker-specific config into the container
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  db:
    image: postgres:16-alpine
    container_name: payment-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: payment_aggregator
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  migrate:
    image: migrate/migrate
    container_name: payment-migrate
    volumes:
      - ./database/migrations:/migrations
    command:
      [
        "-path",
        "/migrations",
        "-database",
        "postgres://postgres:password@db:5432/payment_aggregator?sslmode=disable",
        "up",
      ]
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

volumes:
  db-data:

networks:
  app-network:
    driver: bridge
